fastapi
uvicorn

sqlalchemy
psycopg2-binary

python-dotenv

bcrypt
python-jose[cryptography]

python-multipart

pydantic
email-validator

langchain
langchain-core
langchain-community

langchain-text-splitters

langchain-ollama

langchain-chroma
chromadb

pypdf

requests
httpx